@import 'typefaces';
@import 'colors';
@import 'media-queries';

.site-copyright {
  @extend %tf-barlow-normal-700;
  background-color: $orange;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  padding: 2.4rem 1rem;
  line-height: 1.04;
  font-size: 1.09rem;
  letter-spacing: -0.5px;

  p {
    &:not(:last-child) {
      margin-bottom: 0.9rem;
      @include device-WIDER-than(mobile) {
        margin: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
      @include device-WIDER-than(mobile) {
        margin-bottom: 2.7rem;
      }
    }
  }

  @include device-WIDER-than(mobile) {
    text-align: left;
    font-size: 0.8rem;
    color: $black;
    background-color: transparent;
    padding: 2.55rem 2.65rem 0;
    line-height: 1;
    text-transform: uppercase;
  }
}
