@import 'media-queries';

.footer {
  background-color: #121212;
  margin-top: 1.9rem;
  @include device-WIDER-than(mobile) {
    margin-top: 2.55rem;
  }

  .footer_article {
    display: flex;
    align-items: center;
    height: 3.9rem;
    @include device-WIDER-than(mobile) {
      height: 2.25rem;
    }
  }
}

.horizontal-list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  list-style-type: none;
  color: white;

  width: 100%;
  font-size: 0.575rem;
  text-align: center;
  @include device-WIDER-than(mobile) {
    width: auto;
    font-size: 0.5rem;
    display: block;
    padding-left: 1.27rem;
    text-align: left;
  }
}

.horizontal-list_item {
  display: inline;
  &:not(:first-of-type) {
    margin-left: 1rem;
  }

  @include device-NARROWER-than(mobile) {
    &.hide-on-mobile {
      display: none;
    }
  }
}
