@import 'media-queries';

.footer {
  background-color: #121212;
  margin-top: 1.9rem;
  @include device-WIDER-than(mobile) {
    margin-top: 2.55rem;
  }
}

.horizontal-list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  list-style-type: none;
  color: white;

  display: flex;
  align-items: center;
  height: 3.72rem;
  @include device-WIDER-than(mobile) {
    height: 2.25rem;
  }

  @include device-NARROWER-than(mobile) {
    width: 100%;
    font-size: 0.65rem;
    justify-content: space-between;
    padding: 0 0.8rem;
  }

  @include device-WIDER-than(mobile) {
    width: auto;
    font-size: 0.5rem;
    justify-content: flex-start;
    padding-left: 1.27rem;
  }
}

.horizontal-list_item {
  display: inline;
  margin: 0;
  &:not(:first-of-type) {
    margin-left: 1rem;
  }

  @include device-NARROWER-than(mobile) {
    &.hide-on-mobile {
      display: none;
    }
  }
}
