@import 'media-queries';

.title {
  text-transform: uppercase;
  color: #121212;

  margin-bottom: 2.3rem;
  font-size: 2.15rem;
  text-align: center;
  @include device-WIDER-than(mobile) {
    margin-bottom: 5.32rem;
    font-size: 2.39rem;
    text-align: left;
    line-height: 1.08;
  }
}

.horizontal-separator {
  height: 0.3rem;
  background-color: #121212;
  margin-bottom: 2.45rem;
  @include device-WIDER-than(mobile) {
    margin-bottom: 3.8rem;
  }
}

.paragraph {
  line-height: 1.5;
  width: 100%;
  margin-right: 0;
  font-size: 1.25rem;
  text-align: center;
  padding: 0 1.2rem;
  margin-bottom: 0;
  @include device-WIDER-than(mobile) {
    padding: 0;
    width: 57%;
    margin-right: 2rem;
    font-size: 1.265rem;
    text-align: left;
    line-height: 1.67;
  }
}
