@import 'media-queries';

/**
 * IMPORTANT: This file needs to be imported in src/components/layout.js
 *
 * This stylesheet adds a background with a red tint to easily identify
 * the issues with the layout.
 */

body {
  @include device-WIDER-than(mobile) {
    background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)),
      url('../images/overlay-desktop.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @include device-NARROWER-than(mobile) {
    background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)),
      url('../images/overlay-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  // fade direct children of body to allow seeing through
  > * {
    opacity: 0.75;
  }
}
