html,
body {
  // https://css-tricks.com/books/volume-i/scale-typography-screen-size/
  // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  // Same for line-height
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

@mixin typeface($name, $weight, $style, $src, $type) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-display: fallback; // https://css-tricks.com/font-display-masses/#article-header-id-1
    src: url($src) format($type);
  }

  // This will create placeholders to extend, e.g.
  // %tf-barlow-normal-400, %tf-barlow-normal-700, ...
  %tf-#{to-lower-case($name)}-#{$style}-#{$weight} {
    font-family: $name, 'Helvetica', 'Arial', sans-serif;
    font-weight: $weight;
    font-style: $style;
  }
}

@include typeface(
  'Barlow',
  900,
  normal,
  '../fonts/Barlow-ExtraBold.ttf',
  'truetype'
);
@include typeface(
  'Barlow',
  700,
  normal,
  '../fonts/Barlow-Bold.ttf',
  'truetype'
);
@include typeface(
  'Barlow',
  400,
  normal,
  '../fonts/Barlow-Regular.ttf',
  'truetype'
);
@include typeface(
  'Barlow',
  400,
  italic,
  '../fonts/Barlow-Italic.ttf',
  'truetype'
);

body {
  @extend %tf-barlow-normal-400;
}
