html,
body {
  // https://css-tricks.com/books/volume-i/scale-typography-screen-size/
  // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  // Same for line-height
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

@font-face {
  font-family: 'NeoTech';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/NeoTech-Medium.otf') format('opentype');
}

.neotech-med {
  font-family: 'NeoTech';
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

body,
.opensans-light {
  font-family: 'OpenSans';
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

.opensans-semibold {
  font-family: 'OpenSans';
  font-weight: 600;
}
