@font-face {
  font-family: 'NeoTech';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/NeoTech-Medium.otf') format('opentype');
}

.neotech-med {
  font-family: 'NeoTech';
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

body,
.opensans-light {
  font-family: 'OpenSans';
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

.opensans-semibold {
  font-family: 'OpenSans';
  font-weight: 600;
}
